<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/wbqvbi6o6ip0vz55ua5gp17g4f1k7ve9.png" width = 400> </a>

<h4 align ="center" style="color: #191966">Toronto Big Data University Meetup</h4> 
<h4 align ="center" style="color: #191966">Intro to Python for Data Science</h4> 
 

<h4 align = "center">[Instructor: Asad Ali](https://www.linkedin.com/in/asad-ali-082a613b)</h4>

# <span style="color: #20B2AA">Navigating the Jupyter Notebook</span> 

#### There are two modes:
 - **Command Mode** allows you to navigate on the page, between cells
 - **Edit Mode** is inside the cell. Press enter to start typing and esc to stop.

#### Some short cuts:
 - **h** for help
 - **shift + enter** to run cell and move to the next one
 - **ctrl + enter** to run cell and 
 - **a** inserts a cell above
 - **b** inserts a cell below
 - ** c, x, v **  behave like copy, cut and paste
 - **d, d** double pressing d will delete a cell
 
 - **shift + tab** displays the help for that particular function

#### Types of cells:
 - **code** which are cells that actually run commands 
 - **markdown** fancy formatting, notes, etc

# <span style="color: #20B2AA">Python Data Types</span> #

The Basics
- **int** Integers
- **float**  Roughly equivalent to decimal numbers 
- **string** Words or characters. They have to be enclosed within single or double quotation marks
```python
name = 'Asad'
```
```python 
goal = "To always get a good night's sleep."
```
- ** list [ ] **  Lists of items. These items can be ints, floats, strings, or even lists of lists. The square brackets denote that they are lists
```python 
my_shopping_list = ['apples', 'oranges', 'bananas']
```
- **dictionary { }** a data type with key(s) and value(s) -
```python
contacts = { 'Name' : 'Asad',
'Favourite Number' : 4,
'Friends' : ['Jack', 'Jill'] }
```

In [ ]:
print type(3)

In [ ]:
print type(3.0)

In [ ]:
print type('Python')

In [ ]:
print type(['Data', 'Scientist'])

In [ ]:
print type({ 'Name' : 'Asad',
            'Favourite Number' : 4,
            'Friends' : ['Jack', 'Jill']})

# <span style="color: #20B2AA">Basic Python Operations</span> #

In [ ]:
# Printing vs display

In [ ]:
# Example of integers

In [ ]:
# Example of strings

In [ ]:
# String addition

In [ ]:
# 10/3 vs. 10/3.0 and casting

In [ ]:
# Create your own shopping list with three items

In [ ]:
# Fill in the information for the dictionary below:
{'name' : ,
 'age' : }

In [ ]:
# Assigning variables
# Use a single equals sign (=) to assign something to a variable so you can call it later
# Everything on the right hand side gets assigned to the name on the left

In [ ]:
# Assign your list to the variable my_shopping_list

In [ ]:
# Accessing items in your list using square brackets and the position of the item
# Python index/position starts at 0, not 1!

In [ ]:
# Add an item to a list using .append()

In [ ]:
# Determine the length of a list using len()

In [ ]:
# Copy the dict above, paste it below, and assign it to the variable my_dictionary

In [ ]:
# Access items in your dictionary using the name of the key in square brackets

# <span style="color: #20B2AA">Logical Operators</span> 

#### Returns a value of True or False based on a comparison.

#### Examples:

```python
== equal to
!= not equal to
<  less than
>  greater than
<= less than or equal to
>= greater than or equal to

    'a' == 'a' will evaluate to True
    4 != 4     will evaluate to False
    3 < 8      will evaluate to True
    10 > 1     will evaluate to True
    1 <= 1     will evaluate to True
    5 >= 9     will evaluate to False 
```

[A useful resource can be found here](http://www.tutorialspoint.com/python/python_basic_operators.htm)

In [ ]:
# Try some operations here to get a feel for these

# <span style="color: #20B2AA">If Statments, Loops and Functions</span> #

In [ ]:
# See if the sum of two integers is = 10
# If it is, print 'Yay!'
# Else, If it is equal to 9, print 'Not quite!'
# Else, print 'Nay!'

int1 = 
int2 = 

if ((int1 + int2) == 10):
    print ''
elif ((int1 + int2) == 9):
    print ''
else:
    print ''

In [ ]:
# This loops through each item in 'my_shopping_list' and prints each item.

for each_item in my_shopping_list:
    
    print each_item
    
# Now let's print each item + ' - Bought!'

In [ ]:
# Create a tip calculator function
# Step 1: Take two inputs. The total before tax, and the amount you want to tip.
# Step 2: Calculate the tip amount and save it to tip_amount
# Step 3: Calculate the new total and return the new total.

def tip_calculator(total_before_tip, tip_percentage):
    
    tip_percentage = 
    tip_amount = 
    new_total = total_before_tip + tip_amount
    
    return new_total
    
#This is how you call a function
#print tip_calculator(100, 15)

# An example of how we would use this function:
#'Your new total is ' + str(tip_calculator(100,15)) + ' Dollars.'

---

# <span style="color: #20B2AA">Let Us Know When You're Done</span> 

<a href="https://twitter.com/intent/tweet?screen_name=bigdatau&text=Making%20Visualizations%20and%20Learning%20Python%20for%20Data%20Science%20with%20asad_ali_47.%20%23bdumeetup%20%23datascience%20http%3A%2F%2Fi.imgur.com%2Fur2o0ZU.png" target="_blank">
        <img src="http://i.imgur.com/sUNC7ax.png" width=640></a>

---

# <span style="color: #20B2AA">Today's Task:</span> #


[We are going to try and recreate the graph below of olympic athletes' heights and weights](http://www.bbc.com/news/uk-19050139)

<img src = http://i.imgur.com/AALRdVr.png width=640>

# <span style="color: #20B2AA">Creating the scatter plot in 18 lines</span>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline 

df = pd.read_csv('/resources/messy_data.csv')

df.gender = df.gender.fillna('M')
df.country_code = df.country_code.fillna('USA')
df.first_name = df.first_name.fillna('Fabiana')

df.plot(kind='scatter',
        x='weight_kg',
        y='height_cm',
        title='Your Olympic Athlete Body Match',
        marker='s',
        color='orange',
        figsize=(14,8))

# <span style="color: #20B2AA">Step 1: Create Data</span>

In [ ]:
# This import statement is how we ensure that pandas methods are available to us
import pandas as pd

# matplotlib is a plotting/graphing library
import matplotlib.pyplot as plt
# this is the style of plot that we want to use
plt.style.use('ggplot')

# This gives permission to draw diagrams in our notebook
%matplotlib inline

In [ ]:
# The first step will be to create our own athlete


# This dictionary called my_athlete will store all the information that we need
# Replace my information with anything you like!
my_athlete = {'last_name': 'Ali',
              'first_name': 'Asad',
              'height_cm': 175.0,
              'weight_kg': 82.0,
              'country': 'Zambia',
              'country_code': 'ZMB', #CAN for Canada
              'gender': 'M',
              'sport': 'Archery', 
              'event': "Men's Individual"}

my_athlete

<span style="color: #FD2E33">Now we can use a very convenient method called [.DataFrame( )](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) to create a DataFrame using our data</span> 

>```python
pd.DataFrame(data=my_athlete, index=[index])
```

In [ ]:
pd.DataFrame(my_athlete, index=[0])

# <span style="color: #20B2AA">Step 2: Read in the Rest of the Data</span> 

<img src = "http://i.imgur.com/uJDPJuc.jpg" width=640>

<h4 align="center" style="color: #FD2E33">We use a method called [read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html). This is the most common format for data and most people have used csv files at some point in Excel. The read_csv method takes this file and turns it into a dataframe.</h4> 

<h4 align="center"> [You can download the .csv file here](https://drive.google.com/file/d/0B0lqdhFbaTQ-T3E4VDlHUDFuWVU/view?usp=sharing)</h4>

<img src= "http://i.imgur.com/OumfCEQ.png", width=640>

<h4 align="center" style="color: #FD2E33">
Once you've downloaded the file, just drag it in to this window to upload it to your DSWB account.</h4>

---

In [ ]:
df = pd.read_csv('/resources/messy_data.csv')

# In case the file isn't working, you can also read it directly from this url:
# df = pd.read_csv('https://drive.google.com/uc?export=download&id=0B0lqdhFbaTQ-T3E4VDlHUDFuWVU')

df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# Read the first few rows of the data. Enter a number between the parentheses to adjust
df.head()

In [ ]:
# Read the last few rows of the data. Enter a number between the parentheses to adjust
df.tail()

In [ ]:
# Using the .append() function, let's add our athlete from above
df.append(my_athlete, ignore_index=True)

In [ ]:
# Whoops! Where did my_athlete go?
df.tail()

In [ ]:
# Remember to save the appended DataFrame to df
df = df.append(my_athlete, ignore_index=True)

In [ ]:
# Now, my_athlete should appear as the final row
df.tail()

In [ ]:
# Another powerful function built in to identify all unique values
df.sport.unique()

In [ ]:
# Count up how many of each label
df.gender.value_counts()

# <span style="color: #20B2AA">Step 3: How to Sort</span> 

### Sort using [.sort_values( )](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
```python 
df.sort_values(by='column_name') to sort by a single column
```
> The default sort order is ascending (smallest to largest)

```python 
df.sort_values(by='column', ascending=False) 
```
> This will sort from largest to smallest

```python
df.sort_values(by=['column1', 'column2'], ascending=[True,True])
```
> To sort by multiple columns

In [ ]:
# Sort by last name, in ascending order
df.sort_values(by='last_name')

In [ ]:
# Sort by last name in ascending order, then by first name in descending order
df.sort_values(by=['last_name', 'first_name'], ascending=[True, False])

In [ ]:
# Use a combination of: 
# .value_counts() 
# .head()
# to obtain the top 5 most common first names

df['first_name'].value_counts().head()

In [ ]:
# Sort by 'weight_kg' to obtain weights of the top 12 heaviest athletes.

df.sort_values(by='weight_kg', ascending=False).head(12)

In [ ]:
# Sort the above alphabetically by Last Name, then First Name

heaviest = df.sort_values(by='weight_kg', ascending=Foalse).head(12)
heaviest.sort_values(by=['last_name', 'first_name'])

# <span style="color: #20B2AA">Step 4: How to Filter</span> 

### There are two ways to filter on a column name

```python
df.column_name
```
(only works if there are no spaces or special characters in the name)
    
```python
df['COLUMN']
```

```python 
df[ ['COLUMN 1', 'COLUMN 2'] ]
```

Accessing a single column returns a Series, and multiple columns return a DataFrame.
I personally prefer to use the first method and find it faster.

In [ ]:
# Filter for the height column. This returns a Series

df.height_cm

In [ ]:
type(df.height_cm.tail(8))

In [ ]:
# Display the first name, last name and country columns. 
# Display the country column first
# Sort it by First Name, in descending order
# This returns a DataFrame

### Filtering based on a Condition:

<img src = http://i.imgur.com/iETVE07.png width=640>

In [ ]:
# Filter for all Canadian athletes

### Filtering on multiple conditions

In [ ]:
# Filter for all the Canadians that are taller than 190cm:
conditions = (df.country == 'Canada') & (df.height_cm > 190)
df[conditions]

In [ ]:
# Filter for
# all the Canadians that are taller than 190cm 
# OR for any athlete from Rwanda. 
# Then, sort by country in alphabetical order

condition_canada = df.country == ''
condition_height = df.height_cm >   
condition_rwanda = df.country == ''
conditions = (condition_canada & condition_height) | (condition_rwanda)

In [ ]:
# Filter for all where First Name is Colin, return only the height, sorted from smallest to largest
df[df.first_name == 'Colin']['height_cm'].sort_values()

In [ ]:
# Filter for all where First Name is Colin and store their heights in a variable called heights. 
# Then display the mean of their heights 
heights = df[df.first_name == 'Colin']['height_cm']
heights.mean()

### Slicing the dataframe

### For now, we will use .ix[rows, columns] to slice by column name or position
* Some notation:
> for rows/columns 0 to 5 inclusive use ```1:10```
>
> for all rows/columns use ```:```

In [ ]:
# All rows and all columns

df.ix[:,:]

In [ ]:
# By position

df.ix[1:10, [1,4,5]]

In [ ]:
# By position and label

df.ix[10:15, 'first_name':'sport']

#### Exercises:

#### Filter for all female athletes, and display last 5 rows

#### Filter for all athletes whose sport is Swimming and sort them from tallest to shortest, then display first five

#### Filter for all athletes that are from Great Britain and shorter than 1.60m, whose first name is Rebecca

#### Obtain the first 5 names of all athletes that participate in Rowing with event Women's Eight OR any kind of Swimming, then sort them from A->Z

# <span style="color: #20B2AA">Step 5: Cleaning Up the Data Set </span> 


### We've already found three things in our data set:
1. Someone is missing a first name!
2. There are no males in the original dataset
3. Team USA is messing their country code

In [ ]:
# Find the poor soul that's missing their first name

df[df.first_name.isnull()]

In [ ]:
# To fill, use .fillna()
# I found Fabiana on Wikipedia and used that as the source

df.first_name = df.first_name.fillna('Fabiana')

In [ ]:
# Filter for all male athletes

df.gender.value_counts()

#df.gender = df.gender.fillna('M')

In [ ]:
# Confirm that only Team USA is missing a country code.
# To do this: 
# Filter for all country codes that are null
# Return the unique values in the country column


# Fill them in with 'USA'

<h2 style="color: #FD2E33">
Save the data set using [.to_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)</h2>

>```python
df.to_csv('clean_data.csv', index=False)
```

# <span style="color: #20B2AA">Step 6:  Analyse Data and Create Charts</span> 
### We will answer these questions:
* Create a histogram of all heights and weights
* Create a horizontal bar chart of the median heights for Team GB Athletes, by sport

---

### We are going to do all of this using [.groupby()](http://pandas.pydata.org/pandas-docs/stable/groupby.html)

> ### Split - Splitting the data into groups based on some criteria
> ### Apply - Applying a function to each group independently
>> - .sum()
> - .count()
> - .mean()
> - .std()
> - .size()
> - .apply()
>
>### Combine - Combining the results into a data structure 

>### Use ```.get_group( ) ``` to access a group

---
<img src="http://i.imgur.com/yjNkiwL.png">

Source: Gratuitously borrowed from Hadley Wickham's Data Science in R slides


### Plotting cheat sheet
```python 
Use .plot(kind=' ')
```

Fill in the quotes with one of the plots below
>- ‘bar’  ‘barh’ for bar plots
>- ‘hist’ for histogram
>- ‘box’ for boxplot
>- ‘kde’ or 'density' for density plots
>- ‘area’ for area plots
>- ‘scatter’ for scatter plots
>- ‘hexbin’ for hexagonal bin plots
>- ‘pie’ for pie plots

[The extensive documentation can be found here](http://pandas.pydata.org/pandas-docs/stable/visualization.html)

In [ ]:
# Histogram of heights and weights
df.plot.hist()

In [ ]:
# Example of groupby. 
# Split by country and sport
# Aggregate by the median
# Use .ix to isolate Team GB
# Display just the height_cm column
# Sort from tallest to shortest
# Obtain the top 5
# Present in a horizontal bar chart


#df.groupby(['country', 'sport']).median().ix['Team GB']['weight_kg'].sort_values(ascending=False).tail(5).plot(kind='barh')

# <span style="color: #20B2AA">Step 7:  Creating Our Visualisation</span>

In [ ]:
df.plot(kind='scatter',
        x='weight_kg',
        y='height_cm',
        title='Your Olympic Athlete Body Match',
        marker='s',
        color='orange',
        figsize=(10,8))

# <span style="color: #20B2AA">Cheat Sheet</span> 

**Basic Operations**

```python 
len(df)       # returns the lenght of the dataframe. In other words, the number of rows.           
df.head()     # displays the first 5 rows of the dataframe. df.head(7) will display the first 7  
df.tail()     # displays the last 5 rows of the dataframe. df.tail(7) will display the last 7    
df.describe()
df.info()
df.column.value_counts()
```
---

**Sorting**
```python
df.sort_values(by='column')                                          # Sort a df by column name.
df.sort_values(by=['column1', 'column2'], ascending=[True, False])   # Sort multiple columns and specify the ordering
```
---

**Filtering**
```python
df.COLUMN                   # Filtering columns by attribute   
df['COLUMN']                # Filtering columns by label/name    
df[['COLUMN1', 'COLUMN2']]  # Filtering for multiple columns
```

```python
df[df.c == value]                       # Conditional filtering
df[(df.c >= value) & (df.d < value)]    # Conditional filtering where both conditions have to be true
df[(df.c < value) | (df.d != value)]    # Conditional filtering where either condition is true
```

---

**Missing Values**
```python
df.column.isnull()          # Boolean mask to check for null/missing values in a column
df.fillna(value)            # Method to fill missing cells with specified value
```

---

**Groupby**
```python
df.groupby('column')                  .size() .mean() .min() .max()
df.groupby(['column1', 'column2'])    .agg(['min', 'max'])
```

---

**Plotting**
```python
df.plot(kind= , title= , x=, y= ,marker= , color=, figsize=)
```

---

# <span style="color: #20B2AA">Let Us Know When You're Done</span> 

<a href="https://twitter.com/intent/tweet?screen_name=bigdatau&text=Making%20Visualizations%20and%20Learning%20Python%20for%20Data%20Science%20with%20asad_ali_47.%20%23bdumeetup%20%23datascience%20http%3A%2F%2Fi.imgur.com%2Fur2o0ZU.png" target="_blank">
        <img src="http://i.imgur.com/sUNC7ax.png" width=640></a>

---

# <span style="color: #20B2AA">Useful Links</span> 

http://bigdatauniversity.com/ - A wealth of knowledge - sign up and get involved!

http://datascientistworkbench.com/ - The fastest way to get right into data science

http://www.fivethirtyeight.com - political blog based on statistics. Also looked at Uber in NYC

http://www.flowingdata.com - brilliant visuals and tutorials

http://www.reddit.com/r/dataisbeautiful - some interesting original content on personal behaviour and social commentary.

# <span style="color: #20B2AA">Get in Touch</span> 

<h4>[LinkedIn](https://www.linkedin.com/in/asad-ali-082a613b)</h4>

<h4>asad.b.ali@gmail.com</h4>